# renombrar a .env.local y 
# sustituir los valores de las variables (sin < o > ni " o '):

EXPO_PUBLIC_SUPABASE_URL=<url_aquí>
EXPO_PUBLIC_SUPABASE_KEY=<api_key_aquí>
EXPO_PUBLIC_ID_PRUEBAS=<user_id_de_pruebas_aquí>
EXPO_PUBLIC_BASE_BUCKET_URL=<coloca_el_base_url_del_bucket_aqui>